/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}

header {
	width: 940px;
	height: 100px;
	background-color: white;
}

h1 {
	margin-top: 0px;
	font-size: 32px;
	padding: 22px 0px 0px 40px;
}

h1 a {
	color: #E03030;
	text-decoration: none;
}

h2 {
	font-size: 24px;
	color: #202020;
	padding: 0px 0px 22px 40px;
}

p {
	padding-bottom: 22px;
}

nav {
	position: absolute;
	left: 0;
	width: 100%;
	background: #E03030; 
	//url("nav_background");
}

nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	margin-right: 20px;
	width: 140px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #eee;
}

nav ul li a:hover {
	color: #fff;
	background-color: #777; 
}

nav ul li.selected a {
	color: #fff;
}

nav ul li.subscribe a {
	margin-left: 22px;
	padding-left: 33px;
	text-align: left;
	background: url("rss.png") left center no-repeat;
}

#content {
	display: table;
	padding-top: 62px;
	padding-left: 40px;
	background-color: white;
	
}

#mainContent {
	display: table-cell;
	width: 620px;
	padding-right: 22px;
}

aside {
	display: table-cell;
	width: 300px;
}

a.download {
	color: #E03030;
	font-size: 24px;
}

