/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}

header {
	width: 940px;
	height: 100px;
	background-color: white;
}

h1 {
	margin-top: 0px;
	font-size: 32px;
	padding: 22px 0px 0px 40px;
}

h1 a {
	color: #E03030;
	text-decoration: none;
}

h2 {
	font-size: 24px;
	color: #202020;
	padding: 0px 0px 22px 40px;
}

p {
	padding-bottom: 22px;
}

nav {
	position: absolute;
	left: 0;
	width: 100%;
	background: #E03030; 
	//url("nav_background");
}

nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	margin-right: 20px;
	width: 140px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #eee;
}

nav ul li a:hover {
	color: #fff;
	background-color: #777; 
}

nav ul li.selected a {
	color: #fff;
}

nav ul li.subscribe a {
	margin-left: 22px;
	padding-left: 33px;
	text-align: left;
	background: url("rss.png") left center no-repeat;
}

#content {
	display: table;
	padding-top: 62px;
	padding-left: 40px;
	background-color: white;
	
}

#mainContent {
	display: table-cell;
	width: 620px;
	padding-right: 20px;
}

aside {
	display: table-cell;
	width: 300px;
	padding-left: 20px;
	padding-right: 40px;
}

a.download {
	color: #E03030;
	font-size: 24px;
}

:invalid {
  border: 2px solid #ff0000;
}

.form {
	background: #E0E0E0; //#9cbc2c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-color: rgba(224,48,48,.6);
	border-style: solid;
	border-width: 2px;
	padding: 20px;
	width: auto;
}

.form fieldset {
border: none;
margin-bottom: 10px;
}
.form fieldset:last-of-type {
margin-bottom: 0;
}

.form legend {
color: #E03030;
font-size: 16px;
font-weight: bold;
//padding-bottom: 10px;
//text-shadow: 0 1px 1px #d5c076;
}

.form ol li {
background: #b9cf6a;
background: rgba(255,255,255,.3);
border-color: #e3ebc3;
border-color: rgba(255,255,255,.6);
border-style: solid;
border-width: 2px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
line-height: 30px;
list-style: none;
padding: 5px 10px;
margin-bottom: 2px;
}

.form label {
float: left;
font-size: 13px;
width: 110px;
}

.form input:not([type=radio]),
.form textarea {
background: #ffffff;
//border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
font: italic 13px Helvetica, Georgia, "Times New Roman", Times, serif;
outline: none;
padding: 5px;
width: 250px;
}

.form input:not([type=submit]):focus,
.form textarea:focus {
//background: #eaeaea;
}

.form input[type=radio] {
float: left;
margin-right: 5px;
}

.form button {
background: #1e2506;
border: none;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
color: #ffffff;
display: block;
font: 18px Helvetica, Georgia, "Times New Roman", Times, serif;
letter-spacing: 1px;
width: 200px;
margin: auto;
padding: 7px 25px;
text-shadow: 0 1px 1px #000000;
text-transform: uppercase;
}

.form button:hover {
background: #E03030;
cursor: pointer;
}

.box{
	border:1px solid black; 
}

.shadow {
	box-shadow: 3px 3px 7px #777;
}

footer {
	height: 40px;
	background-color: white;
}
